@import "normalize";
@import "settings";
@import "foundation";


.wrapper {
	background: lighten($fifth-color, 30%);
	border-bottom: 10px solid lighten($fifth-color, 45%);
	nav {
		margin-top: $rem-base;
		color: darken($fifth-color, 20%);
		li.title {
			text-transform: uppercase;
			font-size: $rem-base / 2;
			margin-top: $rem-base / 2 + 1;
		}
	}
	a, a:visited {
		color: darken($fifth-color, 15%);
	}
}

header {
	img {
		margin-top:  $rem-base * 6;
		/* animation syntax shorthand order: name duration timing-function delay iteration-count direction fill-mode */
		animation: hoverin 2s ease-out 0.5s backwards;
	}
	h1 {
		margin-top: $rem-base * 6;
		margin-bottom: $rem-base * 6;
		line-height: 1.3em;
	}
	h2 {
		sup {
			display: block;
			font-size: $rem-base;
			top: $rem-base + 4;
			color: darken($secondary-color, 40%);
			text-transform: uppercase;
			@media #{$small-only} {
				font-size: $rem-base - 4;
				top: $rem-base / 2;
			}
		}
	}
}

sub {
	display: block;
	i {
		margin-top: $rem-base * 6;
		font-size: $rem-base * 4;
		color: $secondary-color;
	}
}


main {
	a:hover, a:focus, a:active {
		color: $secondary-color;
		text-decoration: underline;
	}
	h2 {
		font-size: $rem-base * 4;
		font-weight: 400;
		margin-top: $rem-base * 6;
		margin-bottom: 0;
		@media #{$small-only} {
			font-size: $rem-base * 2;
		}
	}
	span {
		margin-top: -$rem-base * 2;
		display: block;
		color: $secondary-color;
		font-size: $rem-base * 2;
		a, a:visited {
			color: $third-color;			
		}
		@media #{$small-only} {
			margin-top: -$rem-base;
			font-size: $rem-base;
		}
	}
	article {
		margin-top: $rem-base * 6;
		margin-bottom: $rem-base * 6;
		header {
			h3 {
				font-size: $rem-base * 2;
				font-weight: 400;
				margin-top: $rem-base;
				line-height: $rem-base * 1.75;
				@media #{$medium-only} {
					font-size: $rem-base *1.5;
				}
				@media #{$small-only} {
					font-size: $rem-base + 6;
					margin-bottom: 0;
				}
				small {
					margin-top: ($rem-base / 2)+1;
					a, a:visited {
						color: $third-color;
					}
					a:hover, a:active, a:focus {
						color: $secondary-color;
					}
					@media #{$medium-only} {
						margin-top: $rem-base / 4;
						display: block;
					}
					@media #{$small-only} {
						margin-top: 9px;
					}
				}
			}
			i {
				font-size: $rem-base + 1;
				@media #{$small-only} {
					font-size: $rem-base - 2;
				}
			}
			figure {
				margin-top: $rem-base * 2;
				margin-bottom: $rem-base * 6;
				text-align: left;
				@media #{$small-only} {
					margin-top: $rem-base / 2;
					margin-bottom: 4px;
				}
			}
			aside {
				margin-top: $rem-base * 3.5;
				margin-bottom: $rem-base * 6;
				letter-spacing: 1px;
				text-transform: uppercase;
				text-align: right;
				@media #{$medium-only} {
					margin-top: $rem-base * 3;
				}
				@media #{$small-only} {
					margin-top: $rem-base / 4;
					text-align: left;
				}
			}
			ul.inline-list {
				display: inline-block;
				font-size: $rem-base - 2;
				margin-bottom: 0;
				@media #{$medium-only} {
					margin-top: 0;
				}
				@media #{$small-only} {
					margin-top: -4px;
				}
				li {
					&:first-child {
						margin-top: 2px;
						margin-left: 1.375rem;
					}
					margin-left: $rem-base / 2;
				}
			}
		}
		footer {
			background: none;
			border-top: none;
			padding-top: 0;
			padding-bottom: 0;
		}
		.fa-cogs {
			font-size: $rem-base * 2;
			color: #ccc;
		}
	}
}

footer {
	background: lighten($primary-color, 35%);
	border-top: 10px solid lighten($primary-color, 25%);
	padding-top: $rem-base * 6;
	padding-bottom: $rem-base * 6;
	text-transform: uppercase;
}

// .floating {
//   animation-name: floating;
//   -webkit-animation-name: floating;
//   animation-duration: 1.5s;
//   -webkit-animation-duration: 1.5s;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
// }

// @keyframes floating {
//   0% {
//     transform: translateY(0%);
//   }

//   50% {
//     transform: translateY(8%);
//   }

//   100% {
//     transform: translateY(0%);
//   }
// }

// @-webkit-keyframes floating {
//   0% {
//     -webkit-transform: translateY(0%);
//   }

//   50% {
//     -webkit-transform: translateY(8%);
//   }

//   100% {
//     -webkit-transform: translateY(0%);
//   }
// }

/* 
 * Safe Haven Case Study 
 *
 */

.shc {
	.wrapper {
		header {
			img {
				margin-top: $rem-base;
				margin-bottom: $rem-base;
				margin-right: $rem-base;
			}
			h5, h4 {
				display: inline-block;
			}
			h4 {
				margin-right: $rem-base / 2;
			}
			h5 {
				font-weight: 300;
			}
			@media #{$small-only}{
				text-align: center;
			}
			@media #{$medium-only} {
				text-align: center;
			}
		}
	}
	article {
		header {
			text-align: center;
			margin-bottom: $rem-base * 6;
			h1 {
				margin-bottom: $rem-base / 6;
				margin-top: $rem-base;
				line-height: $rem-base * 2;
			}
			h2 {
				margin-top: 0;
				margin-bottom: $rem-base * 3;
				font-size: $rem-base * 2;
			}
			img {
				margin-top: 0;
				@media #{$small-only} {
					width: 25%;
				}
			}
			.talking-heads {
				text-align: center;
				img {
					margin: $rem-base / 6;
				}
			}
			ul.inline-list {
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}

}

@keyframes hoverin {
	0% {
		opacity: 0;
		transform: translateY(-220px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}