@import "normalize";
@import "settings";
@import "foundation";

$third-color: #747167;

header {
	img {
		margin-top:  $rem-base * 4;
	}
	h1 {
		margin-top: $rem-base * 12;
		margin-bottom: $rem-base * 12;
		line-height: 1.3em;
		// font-weight: 400;
		// font-style: italic;
	}
	hr {
		margin-top: $rem-base * 6;
	}
}

sub {
	display: block;
	i {
		font-size: $rem-base * 4;
		color: $third-color;
	}
}

main {
	a:hover, a:focus, a:active {
		color: $secondary-color;
		text-decoration: underline;
	}
	h2 {
		font-size: $rem-base * 4;
		font-weight: 400;
		margin-top: $rem-base * 12;
		margin-bottom: 0;
	}
	h3 {
		font-size: $rem-base * 2;
		font-weight: 400;
		margin-bottom: $rem-base * 2;
		a, a:visited {
			color: $third-color;
		}
		a:hover, a:active, a:focus {
			color: $secondary-color;
		}
		small {
			margin-top: 15px;
		}
	}
	span {
		margin-top: -$rem-base * 2;
		display: block;
		color: $secondary-color;
		font-size: $rem-base * 2;
	}
	article {
		margin-top: $rem-base * 12;
		margin-bottom: $rem-base * 12;
		footer {
			text-transform: uppercase;
			letter-spacing: 1px;
			figure {
				margin-top: $rem-base * 2;
			}
			aside {
				margin-top: $rem-base * 2;
			}
			h4 {
				font-weight: 400;
			}
			ul.inline-list {
				font-size: $rem-base - 2;
				margin-top: $rem-base / 2;
				margin-left: $rem-base / 2;
				li {
					margin-left: $rem-base / 2;
				}
			}
		}
	}
}
footer {
	margin-top: $rem-base * 12;
	margin-bottom: $rem-base * 12;
}